# dependencies
node_modules/

# build outputs
dist/
build/

# env files
.env
.env.local

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
firebase-debug.log*

# OS / editor noise
.DS_Store
.vscode/

server/src/.firebase-key*